In [3]:
import sys
print(sys.executable)
import pandas as pd
print(pd.__version__)

c:\Python314\python.exe
2.3.3

In [4]:
# !pip install pandas numpy

In [5]:
import pandas as pd
import numpy as np

# Display options
 
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', 200)

# Change the file path as needed
df = pd.read_csv("Amazon Sale Report.csv")

df.head()

C:\Users\SaisrisatyaPadala\AppData\Local\Temp\ipykernel_9760\1136069577.py:10: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [7]:
df.shape

(128975, 24)

In [8]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [9]:
# remove this no need
drop_cols = ["index", "Unnamed: 22"]
df = df.drop(columns=[c for c in drop_cols if c in df.columns])

In [10]:
# date was object
df['Date']=pd.to_datetime(df['Date'], errors='coerce')

In [11]:
num_cols = ["Qty", "Amount", "ship-postal-code"]

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")  # convert everything to numeric
    df[col] = df[col].fillna(0)

df["ship-postal-code"] = df["ship-postal-code"].astype("Int64")  # fix postal codes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128975 non-null  object
 1   Date                128975 non-null  datetime64[ns]
 2   Status              128975 non-null  object
 3   Fulfilment          128975 non-null  object
 4   Sales Channel       128975 non-null  object
 5   ship-service-level  128975 non-null  object
 6   Style               128975 non-null  object
 7   SKU                 128975 non-null  object
 8   Category            128975 non-null  object
 9   Size                128975 non-null  object
 10  ASIN                128975 non-null  object
 11  Courier Status      122103 non-null  object
 12  Qty                 128975 non-null  int64
 13  currency            121180 non-null  object
 14  Amount              128975 non-null  float64
 15  ship-city           128942 non-null  object
 16  ship-state          128942 non-null  object
 17  ship-postal-code    128975 non-null  Int64
 18  ship-country        128942 non-null  object
 19  promotion-ids       79822 non-null   object
 20  B2B                 128975 non-null  bool
 21  fulfilled-by        39277 non-null   object
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(1), int64(1), object(17)
memory usage: 20.9+ MB

In [12]:
df["B2B"] = df["B2B"].astype(str).str.lower().map({"true": True, "false": False})

In [13]:
# Remove Duplicate Rows

df = df.drop_duplicates()
print("Duplicates removed!")

Duplicates removed!

In [14]:
df.shape

(128969, 22)

In [15]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7792
Amount                    0
ship-city                33
ship-state               33
ship-postal-code          0
ship-country             33
promotion-ids         49150
B2B                       0
fulfilled-by          89692
dtype: int64

In [16]:
print(df.columns.tolist())

['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by']

In [17]:
# df = df.rename(columns={"Sales Channel ": "Sales Channel"})

df.columns = df.columns.str.strip()

In [18]:
text_cols = [
    "Status","Fulfilment","Sales Channel","ship-service-level","Style","SKU",
    "Category","Size","ASIN","Courier Status","currency","ship-city",
    "ship-state","ship-country","promotion-ids","fulfilled-by"
]

for col in text_cols:
    df[col] = df[col].astype(str).replace(["nan", "None", ""], np.nan)
    df[col] = df[col].fillna("Unknown")

In [19]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
dtype: int64

In [20]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,Unknown,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,Unknown,False,Easy Ship
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,Unknown
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,Unknown,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,Unknown,False,Easy Ship
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,Unknown,False,Unknown

In [21]:
df["Courier Status"] = df["Courier Status"].replace("Unknown", "Pending")
df["currency"] = df["currency"].replace("Unknown", "INR")
df["promotion-ids"] = df["promotion-ids"].replace("Unknown", "No Promotion")
df['fulfilled-by'] = df['fulfilled-by'].replace("Unknown", np.nan)

df.loc[df['Fulfilment'] == "Merchant", 'fulfilled-by'] = "Merchant"
df.loc[df['Fulfilment'] == "Amazon", 'fulfilled-by'] = "Amazon"
df.loc[df['Fulfilment'].str.contains("Easy", case=False), 'fulfilled-by'] = "Easy Ship"

df["fulfilled-by"] = df["fulfilled-by"].fillna("Unknown")

In [22]:
df['ship-city'] = df['ship-city'].str.title()
df['ship-state'] = df['ship-state'].str.title()
df['ship-country'] = df['ship-country'].str.upper()  # IN, US, etc.

df['Category'] = df['Category'].str.title()
df['Size'] = df['Size'].str.upper()

In [23]:
df.loc[df["Status"].str.contains("Cancel", case=False), "Amount"] = 0

In [24]:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["MonthName"] = df["Date"].dt.strftime("%b")
df["Day"] = df["Date"].dt.day

In [25]:
df = df.drop_duplicates()

In [26]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 128969 entries, 0 to 128974
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128969 non-null  object
 1   Date                128969 non-null  datetime64[ns]
 2   Status              128969 non-null  object
 3   Fulfilment          128969 non-null  object
 4   Sales Channel       128969 non-null  object
 5   ship-service-level  128969 non-null  object
 6   Style               128969 non-null  object
 7   SKU                 128969 non-null  object
 8   Category            128969 non-null  object
 9   Size                128969 non-null  object
 10  ASIN                128969 non-null  object
 11  Courier Status      128969 non-null  object
 12  Qty                 128969 non-null  int64
 13  currency            128969 non-null  object
 14  Amount              128969 non-null  float64
 15  ship-city           128969 non-null  object
 16  ship-state          128969 non-null  object
 17  ship-postal-code    128969 non-null  Int64
 18  ship-country        128969 non-null  object
 19  promotion-ids       128969 non-null  object
 20  B2B                 128969 non-null  bool
 21  fulfilled-by        128969 non-null  object
 22  Year                128969 non-null  int32
 23  Month               128969 non-null  int32
 24  MonthName           128969 non-null  object
 25  Day                 128969 non-null  int32
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(1), int32(3), int64(1), object(18)
memory usage: 24.4+ MB
None

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Year,Month,MonthName,Day
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,Pending,0,INR,0.0,Mumbai,Maharashtra,400081,IN,No Promotion,False,Merchant,2022,4,Apr,30
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Kurta,3XL,B09K3WFS32,Shipped,1,INR,406.0,Bengaluru,Karnataka,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Merchant,2022,4,Apr,30
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Kurta,XL,B07WV4JV4D,Shipped,1,INR,329.0,Navi Mumbai,Maharashtra,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,Amazon,2022,4,Apr,30
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,Pending,0,INR,0.0,Puducherry,Puducherry,605008,IN,No Promotion,False,Merchant,2022,4,Apr,30
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.0,Chennai,Tamil Nadu,600073,IN,No Promotion,False,Amazon,2022,4,Apr,30

In [27]:
df.columns.tolist()

['Order ID',
 'Date',
 'Status',
 'Fulfilment',
 'Sales Channel',
 'ship-service-level',
 'Style',
 'SKU',
 'Category',
 'Size',
 'ASIN',
 'Courier Status',
 'Qty',
 'currency',
 'Amount',
 'ship-city',
 'ship-state',
 'ship-postal-code',
 'ship-country',
 'promotion-ids',
 'B2B',
 'fulfilled-by',
 'Year',
 'Month',
 'MonthName',
 'Day']

In [28]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
Year                  0
Month                 0
MonthName             0
Day                   0
dtype: int64

In [29]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Year,Month,MonthName,Day
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,Pending,0,INR,0.0,Mumbai,Maharashtra,400081,IN,No Promotion,False,Merchant,2022,4,Apr,30
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Kurta,3XL,B09K3WFS32,Shipped,1,INR,406.0,Bengaluru,Karnataka,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Merchant,2022,4,Apr,30
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Kurta,XL,B07WV4JV4D,Shipped,1,INR,329.0,Navi Mumbai,Maharashtra,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,Amazon,2022,4,Apr,30
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,Pending,0,INR,0.0,Puducherry,Puducherry,605008,IN,No Promotion,False,Merchant,2022,4,Apr,30
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.0,Chennai,Tamil Nadu,600073,IN,No Promotion,False,Amazon,2022,4,Apr,30

In [30]:
df.to_csv("Cleaned_Amazon_Sale_Report.csv", index=False)
print("Cleaned data saved as Cleaned_Amazon_Sale_Report.csv")

Cleaned data saved as Cleaned_Amazon_Sale_Report.csv